<div class="col-lg-4">
<h3>Evaluar Propuesta</h3>
<% if @evaluation.errors.any? %>
<section id="errors">
  <header>
    <h2>
      <%= @evaluation.class.name.humanize.downcase %> no se pudo salvar. 
    </h2>
    <h3>
      Corrija <%= pluralize(@evaluation.errors.count, "error") %>:
    </h3>
  </header>
  <ul>
    <% @evaluation.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>

<%= render :partial => 'evaluatable', :locals => {:propuesta => @propuesta, :evaluation => @evaluation } %>

</div>
