<div class="container">
  <div class="row">
    <h3>Llamados</h3>
    <div class="column">
      <table class="table">
        <thead>
          <tr>
          <th>Llamado</th>
          <th>Centro</th>
          <th>Publico</th>
          <th>Modalidad</th>
          <th>Propuestas</th>
          </tr>
        </thead>
        <tbody>
          <% @calls.each do |call| %>
            <tr>
              <%= render call %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <%= link_to("Nuevo", new_call_path, class: 'btn btn-primary') %>
  </div>
</div>
