<div class="container">
  <div class="row">
    <h3> <%= link_to(@call.nombre, call_path(@call)) %></h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @props.each do |proposal| %>
            <tr>
              <%= render proposal %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
