<div class="container">
  <div class="row">
    <h3> <%= @call.nombre %> </h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @props.each do |proposal| %>
            <tr>
              <%= render proposal %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
    
  </div>
  <%= link_to("Volver", call_path(@call), class: 'btn btn-primary') %>
</div>
